In [197]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
import tensorflow as tf
from tensorflow import keras

In [198]:
df = pd.read_csv("insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [199]:
import pandas as pd

df['sex'] = df['sex'].map({'male': 0, 'female': 1})
df['smoker'] = df['smoker'].map({'no': 0, 'yes': 1})

df = pd.get_dummies(df, columns=['region'], drop_first=True,dtype=int)

In [200]:
df

,age,sex,bmi,children,smoker,charges,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,16884.92400,0,0,1
1,18,0,33.770,1,0,1725.55230,0,1,0
2,28,0,33.000,3,0,4449.46200,0,1,0
3,33,0,22.705,0,0,21984.47061,1,0,0
4,32,0,28.880,0,0,3866.85520,1,0,0
...,...,...,...,...,...,...,...,...,...
1333,50,0,30.970,3,0,10600.54830,1,0,0
1334,18,1,31.920,0,0,2205.98080,0,0,0
1335,18,1,36.850,0,0,1629.83350,0,1,0
1336,21,1,25.800,0,0,2007.94500,0,0,1
1337,61,1,29.070,0,1,29141.36030,1,0,0

In [201]:
X = df.drop("charges", axis=1)
y = df["charges"]

In [202]:
X.shape

(1338, 8)

In [203]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [204]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [205]:
model = keras.Sequential([
    keras.layers.Input(shape=[8]),
    keras.layers.Dense(1000, activation='relu'),
    keras.layers.Dense(500, activation='elu'),
    keras.layers.Dense(150, activation='relu'),
    keras.layers.Dense(90, activation='relu'),
    keras.layers.Dense(1)
])

In [206]:
model.compile(loss="MAE",optimizer="adam")

In [207]:
model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 13551.6680
Epoch 2/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 10865.4678
Epoch 3/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 5569.2710
Epoch 4/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 3418.2981
Epoch 5/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 3098.6479
Epoch 6/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 3146.4976
Epoch 7/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - loss: 2924.9778
Epoch 8/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 2563.5117
Epoch 9/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 2522.9343
Epoch 10/10
34/34 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - loss: 2390.0288

In [208]:
y_pred = model.predict(X_test_scaled)

9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step

In [209]:
MAE = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'MSE: {MAE:.2f}')
print(f'R2 Score: {r2:.2f}')

MSE: 2096.16
R2 Score: 0.85